.container{
    background-image: url("../assets/fundo.svg") ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}


.gradiente{
    width: 100%;
    min-height: 500px;
    background: linear-gradient(to left,rgba(0, 0, 0, 0), #e539398a);
    display: flex;
    align-items:center ;
}

.user{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    /* background-image: url('../assets/pattern.svg'); */
    background-size: cover;
}

.person{
    background-image:url("../assets/profiletechs.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    
    
}


.wrap{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px ;
    justify-content: center;
    width: 70%;
    padding: 40px;
}

.title h1{
    letter-spacing: 8px;
    font-size: 5em;
    color: #ffffff;
    font-family: 'eth';
    text-transform: uppercase;
  
}

.title h3{
    margin-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    letter-spacing: 8px;
    font-size: 1em;
    color: #ffffff;
    font-family: 'eth';
    text-transform: uppercase;

}

.description p{
    font-size: 1.2em;
    color: aliceblue;
    font-family: 'LakesNeue';
}

.description span{
    color: #e53939;
    font-size: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 1080px) {

    .container{
        height: 100%;

    }

    .gradiente{
        flex-direction: column;
        padding: 20px;
    }

    .wrap{
        width: 100%;
        margin: 0 2%;
    }

    .user{
        width: 100%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Garante centralização vertical */
        width: 100%; /* Garante que o título use toda a largura disponível */
        max-width: 100%; /* Evita cortes inesperados */
        overflow: visible; /* Evita esconder partes do conteúdo */
    }
     
    .title h1{
        font-size: 4em;
    }

    .description{
        text-align: center;
        width: 100%;
    }

    
}
