.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:#120704;
    /*background-image: url("../assets/undo.svg");*/
    height: 100vh;
}

.top{
    grid-area: 1 / 1 / 2 / 6 ; 
    height: 50px;
    background:linear-gradient(to right, #ffffff00, #5e1a08) ;
}


.container img{
    
    grid-area: 2 / 1 / 5 / 3;
    padding: 10px;
    width: 800px;
}

.language{
    grid-area: 2 / 3 / 5 / 6;
    text-align: center;
}

.language h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'eth';
    color: aliceblue;
    text-shadow: 5px 5px 7px rgb(186, 50, 12);
}

.bottom{
    grid-area: 6 / 1 / 6 / 6;
    height: 50px;
    background:linear-gradient(to right,#5e1a08 , #ffffff00) ;
}

.card {
    width: 80%;
    height: 254px;
    margin: 20px auto;
    background: linear-gradient(#5e1a08 , #ffffff00);
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }

   .itens{
    margin: 30px 10px;
    font-size: 4em;
   }

   .item1{
    margin: 10px;
    color: yellow;
   }

   .item2{
    margin: 10px;
    color: #00ca4e;
   }

   .item3{
    margin: 10px;
    color: aqua;
   }

   .item4{
    margin: 10px;
    color: orange;
   }

   .item5{
    margin: 10px;
    color: purple;
   }

   .item6{
    margin: 10px;
    color: rgb(0, 0, 170);
   }
   
   .card__content p{
    color: aliceblue;
    font-family: 'LakesNeue';
    margin-top: 30px;
    font-size: 1.3em;
}

